USE [Promass_Prueba]
GO
/****** Object:  Table [dbo].[policy_requests]    Script Date: 16/05/2026 10:11:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[policy_requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[folio] [uniqueidentifier] NOT NULL,
	[customerName] [nvarchar](255) NOT NULL,
	[customerEmail] [nvarchar](255) NOT NULL,
	[product] [nvarchar](255) NOT NULL,
	[insuredAmount] [int] NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_a67aecad43f4f6d64bf8819acb8] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_0a646268baf5a99c8d9837ce58e] UNIQUE NONCLUSTERED 
(
	[folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 16/05/2026 10:11:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[lastName] [nvarchar](255) NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](255) NOT NULL,
	[status] [nvarchar](255) NOT NULL,
	[createdAt] [datetime2](7) NOT NULL,
	[updatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_a3ffb1c0c8416b9fc6f907b7433] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_97672ac88f789774dd47f7c8be3] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_fe0bb3f6520ee0469504521e710] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[policy_requests] ADD  CONSTRAINT [DF_0a646268baf5a99c8d9837ce58e]  DEFAULT (newsequentialid()) FOR [folio]
GO
ALTER TABLE [dbo].[policy_requests] ADD  CONSTRAINT [DF_e7e3546aa38e29df9a712632d75]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[policy_requests] ADD  CONSTRAINT [DF_4a2f1ac715cddd35ba541ca4ff4]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[policy_requests] ADD  CONSTRAINT [DF_d85bd55cf8fb967668d898a3f26]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_ace513fa30d485cfd25c11a9e4a]  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_3676155292d72c67cd4e090514f]  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_204e9b624861ff4a5b268192101]  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_0f5cbe00928ba4489cc7312573b]  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[policy_requests]  WITH CHECK ADD  CONSTRAINT [FK_5394a2d1638d5879329602f6051] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[policy_requests] CHECK CONSTRAINT [FK_5394a2d1638d5879329602f6051]
GO
ALTER TABLE [dbo].[policy_requests]  WITH CHECK ADD  CONSTRAINT [CHK_2914ecd03fefdaeadf55c76ba6_ENUM] CHECK  (([status]='issued' OR [status]='pending'))
GO
ALTER TABLE [dbo].[policy_requests] CHECK CONSTRAINT [CHK_2914ecd03fefdaeadf55c76ba6_ENUM]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CHK_029046721bcbb5f775f4062f94_ENUM] CHECK  (([status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CHK_029046721bcbb5f775f4062f94_ENUM]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CHK_65b83985eceb5796e8105e1fc9_ENUM] CHECK  (([role]='supervisor' OR [role]='admin' OR [role]='user'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CHK_65b83985eceb5796e8105e1fc9_ENUM]
GO
